<Configuration status="warn">
    <Properties>
        <Property name="filename">latest.log</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] [%t/%p]: [%c{1}] %m%n" />
        </Console>
        <RollingFile name="file"
                     append="false"
                     fileName="${filename}"
                     filePattern="${filename}">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] [%t/%p]: [%c{1}] %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.poi" level="WARN" />
        <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>