.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #1973C9;
    -fx-text-fill: white;
}

.button.primary {
    -fx-background-color: #1973C9;
    -fx-text-fill: white;
}

.button.danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
}

.button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}